@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/static/river-5524569_1920.jpg);
    font-family: 'Nunito', sans-serif;
    color: white;
    overflow: hidden;
}



@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}





@keyframes movement {
    0% {
        width: 20rem;
        top: 10%;
        right: 30%;
        transform: rotate(0deg);
    }
    50% {
        width: 50rem;
        top: 20%;
        right: -10%;
        transform: rotate(180deg);
    }
    100% {
        width: 20rem;
        top: 10%;
        right: 30%;
        transform: rotate(360deg);
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

header>a {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}








* {
    margin: 0;
    padding: 0;
}

#titre { 
position: absolute;
top: 35%;
left: 45%;
right: 45%;
font-size: 40px;
font-family: ''Arial', sans-serif';
}

#tex { 
    position: absolute;
    top: 42%;
    left: 19%;
    right: 19%;
    font-size: 40px;
    font-family: ''Arial', sans-serif';
    text-align: center
    }