@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

header>a {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header ol li {
    font-weight: 600;
    padding: 0 20px;
    opacity: 0.6;
}

header ol li:first-child {
    opacity: 1;
}


a {
    text-decoration: none;
    color: white;
}

ol {
    list-style-type: none;
    display: flex;
}

.navbar {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}