@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tout {
  max-width: 800px;
  margin: 20px auto;
}

body {
  background: url(images/rivi.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  color: #fff;
  opacity: 95%;
}


.box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

h1, h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

p, ul, li {
  color: #fff;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
