/* recherche_date.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif ;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url("/static/images/rivier_station.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, p {
  font-family: 'Nunito', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjusted for fixed navbar */
}

form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="date"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

form button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

.observation-list {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.observation-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.observation-item p {
  margin: 5px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 191%;
}

header>a {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: -45.5%;
}

header ol li {
  font-weight: 600;
  padding: 0 20px;
}



a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.733);
}

a:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

ol {
  list-style-type: none;
  display: flex;
}

.navbar {
  position: relative;
  max-width: 12000px;
  margin: auto;
  height: auto;
}

#result {
  font-size: 200%;
  text-align: center;
}
