.search-container {
  text-align: center; /* Centre le contenu horizontalement */
  margin-top: 20px; /* Marge en haut du conteneur *
  padding: 20px; /* Espacement intérieur */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.search-container input[type="text"] {
  padding: 15px; /* Ajoute un remplissage autour du champ de texte */
  width: 400px; /* Largeur du champ de texte */
  font-size: 18px; /* Taille de la police */
  border: none; /* Supprime la bordure */
  background-color: #555; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border-radius: 25px; /* Coins arrondis */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre interne */
  outline: none; /* Supprime la bordure lorsqu'il est sélectionné */
}

.search-container input[type="submit"] {
  padding: 15px 30px; /* Ajoute un remplissage autour du bouton */
  background-color: #4CAF50; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 25px; /* Coins arrondis */
  cursor: pointer; /* Curseur de type pointeur */
  font-size: 18px; /* Taille de la police */
}

.search-container input[type="submit"]:hover {
  background-color: #45a049; /* Changement de couleur de fond au survol */
}

/* Style pour le conteneur du formulaire lorsqu'il est centré */
.search-container form {
  display: inline-block; /* Pour que le formulaire s'adapte à la largeur du contenu */
  text-align: left; /* Alignement du texte à gauche à l'intérieur du formulaire */
}
