/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Nunito', sans-serif;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
  background-image: url(/static/images/rivier_commune.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
}

/* Container Styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
}

/* Box Styling */
.box {
  position: relative; /* Position relative pour pouvoir utiliser z-index */
  z-index: 2; /* Placer au-dessus de la barre de navigation */
  margin-bottom: 20px; /* Ajouter de l'espace entre les deux boîtes */
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px; /* Ajouter un espace intérieur pour le contenu */
  margin-top: 5%; /* Espacement par rapport au haut */
}

/* Ajouter une bordure entre les boîtes */
.box + .box {
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Bordure supérieure légère */
}

/* Form Styling */
form {
  padding: 2em;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

/* Block Styling */
.block {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 1em;
  border-radius: 8px;
  background-color: #ffffffd8;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: calc(33% - 40px); /* Adjusting width to fit 3 blocks in a row with margin */
  box-sizing: border-box;
  text-align: left; /* Align text to the left for better readability */
}

.block p {
  margin: 0.5em 0;
}

#bouton {
  display: block;
  margin: 1em auto 0; /* Center the button horizontally and give some space at the top */
  padding: 0.5em 1em;
  background-color: #005806;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#bouton:hover {
  background-color: #0056b3;
}

.libelle {
  font-weight: bolder;
}

.b1 {
  width: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-color: #00000088;
  text-align: center;
}

.bold {
  font-weight: bolder;
}

/* Styles pour les formulaires et les boutons */
form {
  margin-bottom: 10px; /* Espacement entre chaque formulaire */
}


/* Style pour la classe de séparation */
div.separation {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px; /* Espacement en haut de chaque div de séparation */
  padding: 10px; /* Espacement intérieur */
  border-radius: 8px;
}

/* Styles pour la barre de navigation */
.navbar {
  position: relative; /* Assurez-vous que la barre de navigation est positionnée de manière relative */
  z-index: 1; /* Placer en-dessous des divs avec z-index supérieur */
}

/* Box Styling */
.boxr {
  position: relative; /* Position relative pour pouvoir utiliser z-index */
  z-index: 2; /* Placer au-dessus de la barre de navigation */
  margin-bottom: 20px; /* Ajouter de l'espace entre les deux boîtes */
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px; /* Ajouter un espace intérieur pour le contenu */
  margin-top: 5%; /* Espacement par rapport au haut */
}

/* Ajouter une bordure entre les boîtes */
.boxr + .boxr {
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Bordure supérieure légère */
}

/* Block Styling */
.test {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  padding: 1em;
  border-radius: 8px;
  background-color: #ffffffd8;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: calc(33% - 40px); /* Adjusting width to fit 3 blocks in a row with margin */
  box-sizing: border-box;
  text-align: left; /* Align text to the left for better readability */
}

.test p {
  margin: 0.5em 0;
}

button {
  display: block;
  margin: 1em auto 0; /* Center the button horizontally and give some space at the top */
  padding: 0.5em 1em;
  background-color: #005806;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#textbutton {
  color: rgb(0, 0, 0);
  background-color: #ffffff00;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
  padding-bottom: 10%;
}

#textbutton:hover {
  color: #005806;
  transition: 0.5s;
}