* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    background-color: black;
    color: whitesmoke;
    background: url(images/pexels-eberhardgross-443446.jpg) no-repeat fixed center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    transition: 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

header > a {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header ol {
    list-style-type: none;
    display: flex;
}

header ol li {
    font-weight: 600;
    padding: 0 20px;
}

.navbar {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: auto;
}

.observation {

    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.important {
    font-weight: 700;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.secondary-info {
    margin-top: 10px;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.box {
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    color: black;
}
