<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='progressive_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <title>communes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>
    body {
      background-image: url("/static/images/rivier_commune.jpeg");
    }
  </style>
  {% endblock %}
  </head>
  {% block body %}
  <body>
    <div class="navbar">
      <header>
          <a href="{{ url_for('index') }}">Hydrovision</a>
          <ol>
              <li><a href="{{ url_for('search') }}">Rechercher</a></li>
              <li><a href="{{ url_for('stats') }}">Statisques de la Semaine</a></li>
              <li><a href="{{ url_for('apropos') }}">A propos</a></li>
          </ol>
      </header>
    </div>

    <div class="container">
      <div class="box b1">
        <h1> RESULTATS POUR {{ communes[0].libelle_departement }}</h1>
      </div>

      <div class="box">
        <form method="POST" action="{{ url_for('communes', region_name=region_name, departement_name=departement_name) }}">
          {% for commune in communes %}
          <section class="block">
            <p class="libelle">{{ commune.libelle_commune }}</p>
            <p>Code Commune : <span class="bold"> {{ commune.code_commune }} </span> </p>
            <p>Nombre de station(s) : <span class="bold" > {{commune.number}}</span></p>
            <button id="bouton" type="submit" name="communess" value="{{ commune.libelle_commune }}">Selection</button>
          </section>
          {% endfor %}
        </form>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
