<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='progressive_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
      body {
        background-image: url("/static/images/rivier_site.jpg");
      }
    </style>
    {% endblock %}
  </head>
  {% block body %}
  <body>

    <div class="navbar">
      <header>
          <a href="#">Hydrovision</a>
          <ol>
              <li><a href="{{ url_for('region') }}">Rechercher</a></li>
              <li><a href="#">Statisques de la Semaine</a></li>
              <li><a href="#">A propos</a></li>
          </ol>
      </header>

    <div class="container">
      <div class="box b1">
        <h1> RESULTATS POUR {{ sites[0].libelle_commune }}</h1>
      </div>
      <div class="box">
    <form method="POST" action="{{ url_for('sites', region_name=region_name, departement_name=departement_name, commune_name=commune_name) }}">
      {% for site in sites %}
      <section class="block">
        <p class="libelle">{{ site.libelle_site }}</p>

        <p class="bold">{{ site.code_site }}</p>

        <p>Nombre de station(s) : <span class="bold" > {{ site.number }}</span></p>
        <button id="bouton" type="submit" name="sitess" value="{{ site.code_site }}">Selection</button>

      </section>
      {% endfor %}
    </form>
    </div>
  </div>
  </body>
  {% endblock %}
</html>
