<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='progressive_search.css') }}">
    <title>Débits Moyens Journaliers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Débits Moyens Journaliers de la semaine passée</h1>
      <form method="post" class="mt-3 mb-3">
        <div class="form-row">
          <div class="col">
            <label for="code_station">Code Station</label>
            <input type="text" class="form-control" id="code_station" name="code_station" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
      </form>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <p>Date    et le     Débit Moyen (Mètre cube par seconde)</p>
          </tr>
        </thead>
        <tbody>
          {% if observations %}
            {% for observation in observations %}
            <section id="dat">
              <tr>
                <p>{{ observation.date_obs_elab }} : {{ observation.resultat_obs_elab }}</p>
            </section>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="2">Aucune observation trouvée.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if plot_filename %}
        <div class="mt-5">
          <h3>Graphique des Débits Moyens Journaliers</h3>
          <img src="{{ url_for('static', filename=plot_filename) }}" alt="Graphique des Débits Moyens Journaliers" class="img-fluid">
        </div>
      {% endif %}
    </div>
  </body>
</html>
