<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='station.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <title>sites</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endblock %}
  </head>
  {% block body %}
  <body>
    <div class="navbar">
      <header>
          <a href="#">Hydrovision</a>
          <ol>
              <li><a href="{{ url_for('region') }}">Regions</a></li>
              <li><a href="#">Top regions</a></li>
          </ol>
      </header>
    {% for station in stations %}
    <section>
    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
        <button type="submit" name="stationss" value="{{ station.code_station }}">{{ station.libelle_station }}, {{ station.code_station }}</button>
    </form>
    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
        <button type="submit" name="station_tr" value="{{ station.code_station }}">Observations en temps réel</button>
    </form>
    
    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
    <button type="submit" name="station_date" value="{{ station.code_station }}" >Obsertvations du (date)</button>
    </form>
  </section>
    <br>
    {% endfor %}
  </body>
  {% endblock %}
</html>
