<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Observations by Date</title>
</head>
<body>
    <h1>Observations for {{ code_station }} on {{ date }}</h1>
    <form method="POST" action="{{ url_for('stations_obs_date', code_station=code_station) }}">
        <label for="date">Enter a date:</label>
        <input type="date" id="date" name="date" value="{{ date }}">
        <button type="submit" name="get_date">Submit</button>
    </form>
    <form method="POST" action="{{ url_for('stations_obs_date', code_station=code_station) }}">
        <button type="submit" name="evolution">Afficher l'évolution</button>
    </form>
    {% if observations %}
        {% for obs in observations %}
            <p><strong>Date:</strong> {{ obs.date_obs }}</p>
            <p><strong>Result:</strong> {{ obs.resultat_obs }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No observations available for this date.</p>
    {% endif %}

    <!-- Inclure l'image du graphique -->
    <h2>Évolution des Observations</h2>
    <img src="{{ url_for('static', filename='graph.png') }}" alt="Graphique d'évolution des observations">
</body>
</html>
