<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Débits Moyens Journaliers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
  </head>
  <body>
    <div class="navbar">
      <header>
        <a href="{{ url_for('index') }}">Hydrovision</a>
        <ol>
          <li><a href="{{ url_for('search') }}">Rechercher</a></li>
          <li><a href="">Statistiques de la Semaine</a></li>
          <li><a href="{{ url_for('apropos') }}">À propos</a></li>
        </ol>
      </header>
    </div>

    <div class="container">
      <h1 class="mt-5">Débits Moyens Journaliers de la station {{ code_station }} </h1>
      <form method="POST" action="{{ url_for('stats', code_station=code_station) }}">
        <input type="hidden" name="code_station" value="{{ code_station }}">
        <div class="form-row">
            <div class="col">
                <label for="date_debut">Date de début</label>
                <input type="date" class="form-control" id="date_debut" name="date_debut" required>
            </div>
            <div class="col">
                <label for="date_fin">Date de fin</label>
                <input type="date" class="form-control" id="date_fin" name="date_fin" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
    </form>
    
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Date</th>
            <th>Débit Moyen (Mètre cube par seconde)</th>
          </tr>
        </thead>
        <tbody>
          {% if observations %}
            {% for observation in observations %}
              <tr>
                <td>{{ observation.date_obs_elab }}</td>
                <td>{{ observation.resultat_obs_elab }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="2">Aucune observation trouvée.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if plot_filename %}
        <div class="mt-5">
          <h3>Graphique des Débits Moyens Journaliers</h3>
          <img src="{{ url_for('static', filename=plot_filename) }}" alt="Graphique des Débits Moyens Journaliers" class="img-fluid">
        </div>
      {% endif %}
    </div>
  </body>
</html>
