<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='tout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stations_info.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <title>sites</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% endblock %}
</head>
{% block body %}
<body>
    <div class="navbar">
        <header>
            <a href="#">Hydrovision</a>
            <ol>
                <li><a href="{{ url_for('region') }}">Rechercher</a></li>
                <li><a href="#">Statisques de la Semaine</a></li>
                <li><a href="#">A propos</a></li>
            </ol>
        </header>
  </section>
    <div class="container">
        {% for station in stationsinfo %}
        <div class="box station-info">
            <section class="block Details">
                <h2>Details de la station</h2>
                <p><strong>Code de la station:</strong> {{ station.code_station }}</p>
                <p><strong>Code du site:</strong> {{ station.code_site }}</p>
                <p><strong>Libellé du site:</strong> {{ station.libelle_site }}</p>
                <p><strong>Libellé de la station:</strong> {{ station.libelle_station }}</p>
                <p><strong>Type de station:</strong> {{ station.type_station }}</p>
            </section>
            <section class="block Coordinates">
                <h3>Coordonnées</h3>
                <p><strong>Coordonnée X de la station:</strong> {{ station.coordonnee_x_station }}</p>
                <p><strong>Coordonnée Y de la station:</strong> {{ station.coordonnee_y_station }}</p>
                <p><strong>Longitude de la station:</strong> {{ station.longitude_station }}</p>
                <p><strong>Latitude de la Station:</strong> {{ station.latitude_station }}</p>
                <p><strong>Altitude Référence Alti Station:</strong> {{ station.altitude_ref_alti_station }}</p>
            </section>
            <section class="block Location">
                <h3>Localisation</h3>
                <p><strong>Code Commune Station:</strong> {{ station.code_commune_station }}</p>
                <p><strong>Libellé de la commune:</strong> {{ station.libelle_commune }}</p>
                <p><strong>Code du département:</strong> {{ station.code_departement }}</p>
                <p><strong>Code de la région:</strong> {{ station.code_region }}</p>
                <p><strong>Libellé de la région:</strong> {{ station.libelle_region }}</p>
            </section>
            <section class="block Operational">
                <h3>Statut opérationnel</h3>
                <p><strong>{{ station.en_service }}</strong></p>
                <p><strong>Date de la fermeture de la station:</strong> {{ station.date_fermeture_station }}</p>
                <p><strong>Date d'ouverture de la station:</strong> {{ station.date_ouverture_station }}</p>
            </section>
            <section class="block average-debit">
              <h2>Moyenne du Débit d'Eau</h2>
              <p><strong>Débit Moyen:</strong> 5,412 cm/mois</p>
          </section>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
</html>
