<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='station.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <title>sites</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endblock %}
  </head>
  {% block body %}
  <body>
    <div class="navbar">
      <header>
          <a href="{{ url_for('index') }}">Hydrovision</a>
          <ol>
              <li><a href="{{ url_for('search') }}">Rechercher</a></li>
              <li><a href="{{ url_for('stats') }}">Statisques de la Semaine</a></li>
              <li><a href="{{ url_for('apropos') }}">A propos</a></li>
          </ol>
      </header>
    </div>

      <div id="slider">
        {% for s in stations %}
          {% if loop.index == 1 %}
            <input type="radio" name="slider" id="slide{{ loop.index }}" checked>
          {% else %}
            <input type="radio" name="slider" id="slide{{ loop.index }}">
          {% endif %}
        {% endfor %}
      
        <div id="slides">
          <div id="overflow">
            <div class="inner">
              {% for s in stations %}
                <div class="slide slide_{{ loop.index }}">
                  <div class="test">
                    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
                      <button id="textbutton" type="submit" name="stationss" value="{{ s.code_station }}">{{ s.libelle_station }}, {{ s.code_station }}</button>
                    </form>
                    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
                      <button type="submit" name="station_tr" value="{{ s.code_station }}">Observations en temps réel</button>
                    </form>
                    <form method="POST" action="{{ url_for('stations', code_site=code_site) }}">
                      <button id="padding" type="submit" name="station_date" value="{{ s.code_station }}">Observations Datée</button>
                    </form>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      
        <div id="controls">
          {% for s in stations %}
            <label for="slide{{ loop.index }}"></label>
          {% endfor %}
        </div>
      
        <div id="bullets">
          {% for s in stations %}
            <label for="slide{{ loop.index }}"></label>
          {% endfor %}
        </div>
      </div>
      
    
  </body>
  {% endblock %}
</html>
